.accountIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

.accountIcon {
  scale: 1;
  font-size: var(--font-size-huge) !important;
  margin-right: 0;
  transition: all 0.3s ease-in;
}

.accountIconContainer:hover .accountIcon {
  scale: 1.1;
  color: black;
}

.accountIconTextContainer {
  display: none;
}

.accountIconTextTitle {
  font-size: var(--font-size-md);
  font-weight: bold;
}

.accountIconTextSubTitle {
  font-size: var(--font-size-md);
}

@media (max-width: 768px) {
  .accountIcon {
    font-size: var(--font-size-xxl) !important;
  }
}
