.arrowButtonContainerAnimated {
  border-radius: 0.4rem;
  padding: 0.6rem 2rem;
  border: 1px solid var(--theme-light-text-color);
  background: var(--border-light-box-color-1);
  width: fit-content;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowButtonContainerAnimated:hover {
  filter: invert();
  border: 1px solid var(--theme-dark-text-color);
}
.arrowButtonContainerAnimated:hover .arrowButtonIconContainerAnimated {
  transform: translate(0);
  opacity: 1;
}
.arrowButtonContainerAnimated:hover .arrowButtonTextAnimated {
  transform: translate(0);
}
.arrowButtonIconContainerAnimated {
  transform: translate(calc(var(--font-size-huge) * -1));
  transition: 0.5s ease;
  opacity: 0;
}
.arrowButtonTextAnimated {
  font-weight: 600;
  transform: translate(calc(var(--font-size-lg)));
  font-size: var(--font-size-lg);
  color: var(--theme-light-text-color);
  text-transform: uppercase;
  transition: 0.5s ease;
}
.arrowButtonContainer {
  border-radius: 50%;
  padding: 0.3rem 0.8rem;
  border: 1px solid var(--theme-light-text-color);
  background: var(--border-light-box-color-1);
  width: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.arrowButtonContainer:hover {
  filter: invert();
  border: 1px solid var(--theme-dark-text-color);
}
.arrowButtonIconContainer {
  opacity: 1;
}
.arrowButtonIcon {
  font-size: var(--font-size-huge) !important;
  color: black;
  transition: all 0.5s;
}

.arrowButtonIcon:hover {
  transform: scale(1.1);
}

.arrowButtonIconSM {
  font-size: var(--font-size-xl) !important;
  color: var(--theme-light-text-color);
}
.arrowButtonText {
  font-weight: 600;
  font-size: var(--font-size-lg);
  color: var(--theme-primary-color);
  text-transform: uppercase;
}
.arrowButtonSM {
  transform: scale(1);
  transform-origin: 0 0;
}
.arrowButtonMD {
  transform: scale(1);
  transform-origin: 0 0;
}
.arrowButtonDisabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}
