.productCardRoot {
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.08);
}
.productCardImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.productCardImageContainer {
  height: 400px;
  width: 100%;
  object-fit: contain;
  background: #efefef;
  overflow: hidden;
  cursor: pointer;
  position: inherit;
  box-shadow: 10px 10px 20px var(--theme-shadow-color);

  position: relative;
}
.productCardImageContainer:hover .productCardImage {
  transform: scale(1.1);
}
.productCardImageContainer:hover {
}
.productCardEyeButton {
  transform: scale(0.7);
  background: var(--theme-primary-color);
  padding: var(--element-spacing-xs) var(--element-spacing-sm) var(--element-spacing-xs) var(--element-spacing-sm);
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: 0;
}
.productCardCategoryName {
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--theme-dark-secondary-text-color);
}

.productCardProductSpecificationContainer {
  display: flex !important;
  justify-content: space-between !important;
}

.productCardProductName {
  font-size: var(--font-size-xl);
  font-weight: 400;
  color: var(--theme-dark-text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productCardProductPriceContainer {
  display: flex;
  column-gap: 1rem;
}

.productCardPrice {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--theme-dark-text-color);
}

.productCardPriceStrike {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: rgb(193, 193, 193);
}
.productCardSpecial {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: rgb(8, 130, 112);
}

.productCardAddToCartButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCardCustomizable {
  font-size: var(--font-size-md);
  font-weight: 600;
  color: #f6a6a6;
}
@media (max-width: 720px) {
  .productCardImageContainer {
    height: 200px;
  }
  .productCardProductSpecificationContainer{
    flex-direction:column
  }
}
