.marqueeContainer {
  align-items: center;
  height: 5rem;
  color: var(--theme-light-text-color);
  font-weight: bold;
  font-size: var(--font-size-md);
  background-color: red;
  text-transform: uppercase;
  display: flex;
  animation: rightmarquee 25s linear infinite;
}
.marqueeContainer:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  cursor: default;
}
.marqueeContainer div {
  display: inline-flex;
  max-width: 100%;
  position: relative;
  white-space: nowrap;
  will-change: transform;
  margin-right: var(--element-spacing-md);
  margin-left: var(--element-spacing-xs);
}
@keyframes rightmarquee {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}
@media (max-width: 768px) {
  .marqueeContainer {
    animation: rightmarquee 5s linear infinite;
  }
}
