.searchInputMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchInputInnerContainer {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInputBox {
  height: 100%;
  box-sizing: border-box;
  border-radius: 3rem;
  width: 86%;
  outline: none;
  font-size: var(--font-size-lg);
  padding: var(--element-spacing-sm);
  border: 1px solid var(--border-light-box-color-1);
  text-indent: 2rem;
  color: var(--border-light-box-color-2);
}

.searchInputBox::placeholder {
  text-indent: 2rem;
}

.searchButtonContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  font-size: var(--font-size-xl);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: black;
  transition: all 0.3s ease-in;
}

.searchButtonContainer:hover .searchButtonIcon {
  scale: 1;
}

.searchButtonIcon {
  scale: 0.85;
  font-size: var(--font-size-xxl) !important;
  transition: all 0.3s ease-in;
  color: white;
  transition: all 1.5s linear;
}

@media (max-width: 768px) {
  .searchInputMainContainer {
    margin: var(--element-spacing-sm);
  }
}
