/* .buttonContainer {
  border-radius: 0.4rem;
  padding: 0.6rem 2rem;
  border: 1px solid var(--theme-light-text-color);
  background: var(--border-light-box-color-1);
  width: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.buttonContainer:hover {
  filter: invert();
  border: 1px solid var(--theme-dark-text-color);
}
.buttonIconContainer {
  opacity: 1;
}
.buttonIcon {
  font-size: var(--font-size-huge) !important;
  color: var(--theme-light-text-color);
}
.buttonIconSM {
  font-size: var(--font-size-xl) !important;
  color: var(--theme-light-text-color);
}
.buttonText {
  font-weight: 600;
  font-size: var(--font-size-lg);
  color: var(--theme-primary-color);
  text-transform: uppercase;
}
.buttonSM {
  transform: scale(0.7);
  transform-origin: 0 0;
}
.buttonMD {
  transform: scale(1);
  transform-origin: 0 0;
}
.count {
  padding-left: var(--element-spacing-sm);
  padding-right: var(--element-spacing-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: var(--font-size-lg);
}
.AddToCartButton {
  max-width: 100%;
} */
