/* Components */
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/AddToCartButton/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/BlankSpace/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/Button/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/CartButton/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/CategoryCard/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/HeaderMessageBar/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/IconWithText/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/InputText/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/ItemInFocus/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/Logo/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/Marquee/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/MyAccountButton/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/Nav/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/ProductCard/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/components/Slider/style.css");

/* Widgets */
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/widgets/DisplayProducts/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/widgets/Footer/style.css");
@import url("https://cdn.jsdelivr.net/gh/AndroiableDroid/themes_store@main/vincent/widgets/InfoBrand/style.css");

/* Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --theme-primary-color: #000;
  --theme-light-text-color: #efefef;
  --theme-card-background-color: #fff;
  --theme-dark-text-color: #111;
  --theme-dark-secondary-text-color: #999;
  --theme-shadow-color: #efefef;
  --theme-max-width: 1320px;
  
  --border-light-box-color-1: #dbdbdb;
  --background-black-color: #000;
  --border-light-box-color-2: #6e6e6e;

  --font-size-sm: 1rem;
  --font-size-md: 1.4rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2.2rem;
  --font-size-xxl: 2.6rem;
  --font-size-xxxl: 3rem;
  --font-size-xxxxl: 3.4rem;
  --font-size-huge: 3.8rem;
  --font-size-super: 5rem;

  --element-spacing-2xxl: 10rem;
  --element-spacing-xxl: 5rem;
  --element-spacing-xl: 4rem;
  --element-spacing-lg: 3rem;
  --element-spacing-md: 2rem;
  --element-spacing-sm: 1rem;
  --element-spacing-xs: 0.5rem;
  --element-spacing-xxs: 0.2rem;
}
.theme-vincent *,
*::before,
*::after {
/*   font-family: "poppins", sans-serif; */
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.cursor-pointer {
  cursor: pointer;
}
.max-width {
  max-width: var(--theme-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--element-spacing-sm);
  padding-right: var(--element-spacing-sm);
}
.vincent-mt-2xxl {
  margin-top: var(--element-spacing-2xxl);
}
.vincent-mt-xxl {
  margin-top: var(--element-spacing-xxl);
}
.vincent-mt-xl {
  margin-top: var(--element-spacing-xl);
}
.vincent-mt-lg {
  margin-top: var(--element-spacing-lg);
}
.vincent-mt-md {
  margin-top: var(--element-spacing-md);
}
.vincent-mt-sm {
  margin-top: var(--element-spacing-sm);
}
a {
  text-decoration: none;
  color: unset;
}
