.otpInstructionsContainer {
  color: black;
  font-weight: 400;
  font-size: var(--font-size-xl);
}

.loginMainContainer,
.otpMainContainer {
  padding-top: 4rem;
  padding-bottom: 8rem;
  background: url("https://media.istockphoto.com/id/1409540606/vector/vector-contact-us-pattern-contact-us-seamless-background.jpg?s=612x612&w=0&k=20&c=3djpAIuo9fE9Mr4T7bLIUpEjqU7XaZk4wWt7aMUgU1o=");
}

/* .loginInnerContainer,
.otpInnerContainer {
  max-width: 100%;
  padding: 0;
} */

.loginHeading {
  text-align: center;
  margin: 0 auto 4rem auto;
  font-size: 5rem;
  letter-spacing: 1px;
}

.loginContainer,
.otpContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid rgb(206, 206, 206);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  padding: 3rem 3rem 3rem 3rem;
  background-color: white;
}

.inputPhoneNumber,
.inpuOTPNumber {
  margin-top: 1.5rem;
}

.otpInstructions {
  letter-spacing: 1px;
  text-transform: capitalize;
}
