.iconWithTextMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 1.5rem;
    overflow: hidden;
    border: 1px solid rgb(173, 173, 173);
    transition: all 0.2s ease-in-out;
  }
  
  .iconWithTextMainContainer:hover {
    border: 1px solid rgb(88, 88, 88);
    transform: scale(1.025);
  }
  
  .flipIcon {
    transform: rotateY(180deg);
  }
  
  .iconWithTextHeading {
    text-transform: uppercase;
    font-size: var(--font-size-lg);
    font-weight: 500;
  }
  .iconWithTextSubHeading {
    text-transform: capitalize;
    font-size: var(--font-size-md);
    font-weight: 400;
  }

  .infoBrandIcon {
    margin-right: 0.5rem;
    font-size: 40px !important;
  }
  
  @media (max-width: 768px) {
    .iconWithTextMainContainer {
      justify-content: flex-start;
      margin-left: var(--element-spacing-xs);
    }
  }

