.cartIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
  width: 6rem;
  height: 6rem;
  background: var(--border-light-box-color-1);
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

.cartIconContainer:hover {
  background: var(--background-black-color);
  color: white;
}

.cartIconContainer:hover > div {
  scale: 1;
}

.cartIconContainer:hover .cartIcon {
  color: white;
}

.shakeDivContainer {
  position: relative;
  animation: shake 0.5s ease infinite;
}

.cartIconContainer > div {
  transition: all 0.3s ease-in;
  scale: 0.85;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.cartIcon {
  font-size: var(--font-size-huge) !important;
  color: var(--background-black-color);
  margin-right: 0;
  transition: all 0.3s ease-in;
}

.cartItems {
  background: var(--theme-primary-color);
  color: var(--theme-light-text-color);
  font-weight: 600;
  font-size: var(--font-size-md);
  position: absolute;
  border-radius: 100%;
  height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: 5px;
}

.cartIconTextContainer {
  display: none;
}

.cartIconTextTitle {
  font-size: var(--font-size-md);
  font-weight: bold;
}

.cartIconTextSubTitle {
  font-size: var(--font-size-md);
}

@media (max-width: 768px) {
  .cartItems {
    height: 18px;
    min-width: 18px;
    font-size: var(--font-size-md);
    top: -8px;
    right: 0px;
  }
  .cartIcon {
    font-size: var(--font-size-xxl) !important;
  }
}

@media (max-width: 500px){
  .cartIconContainer{
    width: 5rem;
    height: 5rem;
  }
}